<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoder 默认配置为PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.kuparts" level="DUBEG"/>
    <logger name="io.netty" level="INFO"/>
    <root level="DUBEG">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>